<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
		
    </startup>

	<connectionStrings>
  <add name="SignaProm" connectionString="Data Source=localhost\SQLEXPRESS;&#xD;&#xA;			 Initial Catalog=SignalProm;&#xD;&#xA;			 TrustServerCertificate = True;&#xD;&#xA;			 Integrated security = True;" />
  <add name="SignalProm.Properties.Settings.signalpromConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\signalprom.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	
	
</configuration>